* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./progrmminghero13-A01/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
}


/*   NAVBAR   */
nav {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}

.logo-navbar {
  height: 45px;
}

.list_item {
  display: flex;
  gap: 30px;
}

.list_item li {
  list-style: none;
}

.list_item a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav_btn {
  background: #30B868;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: .6s ease-in;
}

.nav_btn:hover {
  background: rgba(0, 0, 0, 0.6);
}

/*   HERO CONTENT   */
.header_contant {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.header_contant .eraly {
  width: auto;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  background: #FFF;
  color: #30B868;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header_contant .eraly .box_contant {
  margin-right: 10px;
  font-size: 16px;
  color: #30B868;
  width: 24px;
  height: 24px;
  font-size: 16px;
  border-radius: 50%;
  background: #a2d8bb;
  padding: 3px;
  box-shadow: 0 0 5px #30B868;
  position: relative;
}

.eraly .box_contant i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #138e46;
  border-radius: 50%;
}


.header_contant h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.header_contant h1 span {
  color: #30B868;
}

.header_contant p {
  max-width: 800px;
  line-height: 28px;
  margin-bottom: 30px;
}

.btn_group {
  display: flex;
  gap: 20px;
}

.header_btn {
  background: #30B868;
  color: #fff;
  padding: 14px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .6s ease-in;
}

.header_btn img {
  height: 16px;
}

.header_btn:hover {
  background: rgba(0, 0, 0, 0.1);
}


.play {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #fff;


}

.header_btn.transparent {
  background: transparent;
  border: 2px solid #fff;
}

.header_btn.transparent:hover {
  background: #30B868;
}

#about_section {
  padding: 80px 100px;
  text-align: center;
}

.title {
  font-size: 48px;
  margin-bottom: 15px;
}

.sub_title {
  color: #627382;
}

/*   CARDS   */
.cards_section {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.card {
  background: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  border-radius: 12px;
}

.card img {
  height: 50px;
  margin-bottom: 20px;
  background: #f8726c;
  padding: 10px;
  border: none;
  border-radius: 50%;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #627382;
}

/*  KNOWLEDGE   */
.knowledge_section {
  padding: 80px 100px;

}

.knowledge_content {
  background: #f9fafb;
  padding: 60px 80px;
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 80px;
  align-items: center;
  justify-content: space-between;

}


.knowledge_img img {
  width: 400px;

}

.knowledge_text {
  width: 560px;
  margin-top: 30px;

}

.knowledge_text h6 {
  color: #30B868;
  margin-bottom: 20px;
}

.knowledge_text h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.knowledge_text p {
  color: #627382;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 500px;
  line-height: 20px;

}

.knowledge_text ul {
  list-style: none;
}

.knowledge_text li {
  margin-bottom: 10px;
  font-size: 18px;
}

.knowledge_text li img {
  height: 18px;
  margin-right: 10px;
}

/*  THINK  */

.think_section {
  padding: 80px 100px;
}

.think_section .think_contant {
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
}

.think_section .think_contant h2 {
  font-size: 38px;
  margin-bottom: 20px;
}

.think_contant p,
h5 {
  font-size: 14px;
  color: #627382;
  margin-bottom: 20px;
  width: 600px;
  line-height: 25px;
}

.think_btn.header_btn {
  margin-bottom: 20px;
  font-size: 18px;

}

.think_btn.header_btn img {
  margin-top: 5px;

}

.think_btn:hover {
  background: #f8726c;
}

/*  FOOTER  */

.footer_section {
  width: 100%;
  background: rgba(0, 25, 49, 1);
}

.footer_section .footer_contant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  height: 300px;
}

.text {
  padding-right: 80px;
}

.text h4 {
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
}



/* Social Links */

.social_link {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social_link li {
  list-style: none;
}

.social_link li a {
  width: 30px;
  height: 30px;
  background: #FFF;
  color: #0b0b0b;
  padding: 5px;
  border: none;
  border-radius: 50%;
  transition: .6s ease-in;
}


.footer_section p {
  color: #FFF;
  text-align: center;
  padding-bottom: 30px;
}